body, html {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 1024px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: limegreen;
    margin: auto;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    width: auto;
}

.content {
    max-width: 1024px;
    margin: auto;
}

.image {
    display:block;
    float: right;
}

footer {
    width: 1024px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: limegreen;
    margin: auto;
    padding: 5px;
}